html, body {
  height: 100%;
}

#outputWrapper {
  width: 90vw;
  aspect-ratio: 1920 / 1080;
  position: relative;

  svg {
    width: 100%;
    aspect-ratio: 1920 / 1080;
    stroke: rgb(155, 82, 250);
    stroke-width: 3px;
    fill: none;

    path:nth-of-type(2) {
      stroke-width: 0;
    }

    path:nth-of-type(3) {
      stroke-width: 1px;
      transition: opacity 0.5s ease-in, transform 0.5s ease-in;
      opacity: 1;
    }
  }
}

#theCanvas {
  position: absolute;
  left: 0;
  top: 0;
}

.video-footer {
  min-width: 82px;
  margin-top: 2rem;
  position: static;
  inset: auto 0% 0%
}

.grid-2col {
  display: flex;
}

.video-nav {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.video_nav-heading {
  flex: 1;
  font-size: 2.25rem
}

.text-wrap-balance {
  text-wrap: balance
}

.button {
  text-align: center;
  padding: .5rem 1rem;
  font-family: Satoshi,sans-serif;
  font-weight: 700;
  line-height: 1.6;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  height: 1.5rem;
  margin-left: 1rem;
}
.button:not(.active):hover {
  background-color: #6332a4;
  color: white;
}

.active {
  background: #201e4e;
  color: white;
}

.button-icon {
  object-fit: fill;
  align-self: auto;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  display: block
}
